<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ium.project.clanmanagerforclashroyale">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterYourTag"
            android:label="@string/title_activity_enter_your_tag" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Informazioni"
            android:label="@string/title_activity_informazioni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DettaglioSettimana"
            android:label="@string/title_activity_dettaglio_settimana"
            android:parentActivityName=".Registro"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ium.project.clanmanagerforclashroyale.Registro" />
        </activity>
        <activity
            android:name=".DettaglioGiocatore"
            android:label="@string/title_activity_dettaglio_giocatore"
            android:parentActivityName=".DettaglioSettimana"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ium.project.clanmanagerforclashroyale.DettaglioSettimana" />
        </activity>
    </application>

</manifest>